// jm.config.file_header_1
// jm.config.file_header_2
// jm.config.file_header_5
{
  "showKeys": "false",
  "showPlayerLoc": "true",
  "showMouseLoc": "true",
  "playerDisplay": "LargeIcons",
  "selfDisplayScale": "1.5",
  "playerDisplayScale": "2.0",
  "showPlayerHeading": "false",
  "mobDisplay": "LargeIcons",
  "mobDisplayScale": "2.0",
  "showMobHeading": "false",
  "showMobs": "false",
  "showAnimals": "true",
  "showVillagers": "false",
  "showPets": "false",
  "showPlayers": "true",
  "fontScale": "2.5",
  "showWaypointLabels": "true",
  "waypointLabelScale": "1.5",
  "waypointIconScale": "2.0",
  "locationFormatVerbose": "false",
  "locationFormat": "xz",
  "showWaypoints": "true",
  "showSelf": "true",
  "showGrid": "false",
  "showCaves": "true",
  "showEntityNames": "false",
  "preferredMapType": "day",
  "zoomLevel": "3",
  "configVersion": "5.10.3"
}